/*----------------------- Body ----------------------- */

body {
background-color: #292826;
}

.mainframe {
    max-width: 70%;
    margin: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    border-color: #000000;
}

/*----------------------- Header ----------------------- */

.container-img-heading {
    position: relative;
    text-align: center;
    
}

.header-text {
    color: #FFFFFF;
    font-style: italic;
    font-family: "Source Sans Pro", sans-serif; 
    text-shadow: -2px 0 #292826, 0 2px #292826, 2px 0 #292826, 0 -2px #292826;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.header {
    background: url("../images/header-kirke.jpg") no-repeat;
    text-align: center;
    background-size: cover;
    height: 150px;
}

.header-title h1{
    color: #F9D342;
    font-size: 46px;
    font-family: "bangers", sans-serif;
    margin-top: 0px; 
    text-shadow: -4px 0 #292826, 0 1px #292826, 1px 0 #292826, 0 -1px #292826;
}

.header-title {
    padding-top: 35px;
}

/*----------------------- Header + navbar ----------------------- */

.navbar-section {
    width: 100%;
    background-color: #F9D342;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #292826;
}

.navbar {
    margin: auto;
    width: 90%;
    padding: 5px 20px;
}

.navbar li {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #292826;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 16px;
    background-color: #292826;
    width: 100px;
    height: 20px;
    color: #FFFFFF;
    margin: 10px 10px;
}

.hvr-bounce-to-bottom::before {
    background: #3b5998;
}

/*----------------------- Mid Section ----------------------- */

.mid-bgd-picture {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
}

/*----------------------- Mid Section Program / Home Page ----------------------- */

.folder-container {
    padding: 60px 0;
    text-align: center;
    display: inline-block;
}

.folder-container p {
    margin: 20px 0 0;
    text-decoration: none;
}

.folder-container a img {
    width: 50%;
    min-width: 440px;
    opacity: 0.85;
    border: 2px solid #292826;
}

/*-- Mid Section Findos ----------------------- */

.mid-bgd-picture-findos {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
}

.folder-container-findos {
    text-align: center;
    padding: 60px 0;
}

.folder-container-findos iframe {
    width: 75%;
    border: 2px solid #292826;
    border-radius: 5px;
    opacity: 0.95;
    min-height: 600px;
}

/*-- Mid Section Kontakt ----------------------- */

.mid-bgd-picture-kontakt {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
    text-align: center;
}

.mid-container-kontakt {
    background-color: white;
    width: 75%;
    display: inline-block;
    min-height: 700px;
    margin: 60px 0;
    border: 2px solid #292826;
    border-radius: 5px;
    opacity: 0.85;
}

.mid-contrainer-info-kontakt {
    width: 80%;
    display: inline-block;
    margin: 40px 0 80px 0;
    border: 1px solid #292826;
    border-radius: 5px;
    font-family: "source sans pro", sans-serif;
    font-size: 18px;
    font-weight: 550;
    padding: 3px 8px;
    text-align: center;
    line-height: 24px;
}

.mid-contrainer-info-kontakt p:last-child {
    font-weight: 400;
    font-size: 15px;
}

.mid-contrainer-info-kontakt p {
    margin: 0;
}

.mid-container-kontakt form {
    display: inline-block;  
}

.mid-kontakt-form {
    margin-bottom: 20px;
}

.mid-container-kontakt form input {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #292826;
    border-radius: 5px;
    width: 240px;
}

.textarea-kontakt {
    border: 1px solid #292826;
    border-radius: 5px;
    resize: none;
    text-align: center;
    width: 240px;
}

.mid-bgd-picture-kontakt form .botton-kontakt {
    margin-bottom: 0;
    margin-top: 25px;
    height: 24px;
    text-align: center;
    display: inline-block;
    width: 60px;
    line-height: 6px;
}

.botton-kontakt:hover {
    color: #F9D342;
    background-color: #3b5998;
    transition: 0.6s;
}
    
/*-- Mid Section demvier ----------------------- */

.mid-bgd-picture-demvier {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
    text-align: center;
    }

.info-demvier-box {
    margin: 60px 0;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    display: inline-block;
    border: 1px solid #292826;
    border-radius: 5px;
    padding-bottom: 50px;
}

.secret-div-demvier {
    width: 70%;
    text-align: center;
    display: inline-block;
}

.pic-demvier {
    border: 1px solid #292826;
    border-radius: 5px;
    width: 45%;
    min-width: 120px;
    background-color: white;
    margin: 20px 10px;
    display: inline-block;
}

.info-demvier-box p {
    font-family: "source sans pro", sans-serif;
    font-size: 18px;
    padding-top: 30px;
}

.pic-person-demvier {
    margin-top: 35px;
    margin-bottom: 15px;
    width: 70%;
    border: 1px solid #292826;
    border-radius: 5px;
}

.pic-demvier p {
    margin: 0 0 15px 0;
    padding: 5px 22px 2px;
    font-family: "source sans pro", sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}

/*----------------------- Mid Section information ----------------------- */

.mid-bgd-picture-info {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
    text-align: center;
}

.info-container {
    width: 75%;
    border: 1px solid #292826;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    margin: 60px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    background-color: white;
    opacity: 0.85;
    }

.info-text {
    float: left;
    width: 70%;
    padding: 80px 70px 50px;
}

.info-text hr {
    border-top: 1px solid rgba(0,0,0,.3)
}

.info-text p {
    line-height: 1.2;
}

.info-citat-container {
    display: inline-block;
    width: 30%;
}

.info-citat-containter-text {
    padding: 20px;
    border: 1px solid #292826;
    border-radius: 5px;
    margin: 150px 60px 80px 0px;
    line-height: 1.5;
    font-size: 12px;
}

/*----------------------- Mid Section Billeder ----------------------- */

.mid-section-billeder {
    column-gap: 0px;
    column-count: 4;
    clear: both;
}

.mid-section-billeder img {
    width: 100%;
}

/*----------------------- Footer ----------------------- */

.footer {
    background-color: #F9D342;
    min-height: 65px;
    text-align: center;
    border-top: solid;
    border-color: black;
    border-width: 1px;
}

.footer-socialmedia{
    padding-top: 10px;
    padding-left: 0;
    margin: 0px;
    list-style: none;
}

.footer-socialmedia li a i {
    color: #FFFFFF;
    background-color: #3B5998;
    border-style: solid;
    border-radius: 30%;
    border-width: 0.5px;
    width: 25px;
    height: 25px;
    padding: 4px 0;
    text-shadow: -1px 0 #292826, 0 1px #292826, 1px 0 #292826, 0 -1px #292826;
}

.footer-socialmedia li {
    display: inline-block; 
}

.footer-sitemap {
    text-align: center;
}

.footer-sitemap a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: -1px 0 #292826, 0 1px #292826, 1px 0 #292826, 0 -1px #292826;
}

/*----------------------- Media queries ----------------------- */

@media(max-width: 1376px) {

.mainframe {
    min-width: 960px;
}

}

@media(max-width: 991px) {

.mainframe {
    min-width: 0px;
}

.info-text {
    float: none;
    margin: auto;
    padding: 60px 20px 30px
}

.info-citat-container {
    width: 100%;
    padding: 0 20px;
}

.info-citat-containter-text {
    text-align: center;
    padding: 20px;
    margin: 20px 40px 40px;
}

.navbar li {
    margin-left: 14px;
    margin-right: 14px;
}

.navbar {
    padding: 8px 8px;
    width: 75%;
}

.pic-demvier {
    width: 75%;
}

.mid-section-billeder {
    column-count: 2;
}

}

@media(max-width: 767px) {

.header {
    height: 220px;
}

.folder-container a img {
    min-width: 320px;
}

.mid-contrainer-info-kontakt {
margin-bottom: 30px;
}

.mainframe {
    max-width: 80%;
}

.navbar a {
    padding: 3px 0;
}

.navbar {
    padding: 8px 8px;
    width: 75%;
}

.pic-demvier {
    width: 85%;
}

}

@media(max-width: 479px) {

.folder-container a img {
    min-width: 220px; 
    width: 70%;
}

.mainframe {
    max-width: 95%;
}

body {
    min-width: 353px;
}

.mainframe {
    width: 100%;
}

.header-title {
    padding: 20px 60px 0px 60px;
}

.navbar a {
    padding: 3px 0;
}

.navbar {
    padding: 10px 10px;
    width: 85%;
}

.pic-demvier {
    width: 90%;
}

}