body {
background-color:#969E8E;
}

.mainframe {
    max-width: 70%;
    margin: auto;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
    border-color: #2C1106;
}


/*----------------------- Header ----------------------- */

.header {
    background: url("../images/header-kirke.jpg") no-repeat;
    text-align: center;
    background-size: cover;
    height: 150px;
  
}

.header-title h1{
    color: #08E8B5;
    font-size: 46px;
    font-family: "bangers", sans-serif;
    margin-top: 0px; 
    text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header-title {
    padding-top: 35px;
}

/*----------------------- Header + navbar ----------------------- */

.navbar-section {
    width: 100%;
    background-color: #9F4F48;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #2C1106;
}

.navbar {
    margin: auto;
    width: 80%;
    padding: 20px 20px;
}

.navbar li {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 9.5%;
    border-color: black;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 16px;
    background-color: #08E8B5;
    width: 100px;
    height: 20px;
    color: #2C1106;
    margin: 10px 10px;
}

/*----------------------- Mid Section ----------------------- */

.mid-bgd-picture {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
}

.folder-container {
    padding: 20px 0;
    text-align: center;
    display: inline-block;
}

.folder-container a img {
    width: 50%;
    min-width: 440px;
    opacity: 0.85;
}

/*-- Mid Section Findos ----------------------- */

.mid-bgd-picture-findos {
    background: url("../images/1ice.jpg") no-repeat;
    background-size: cover;
    min-height: 480px;
}

.folder-container-findos {
    text-align: center;
    padding: 20px 0;
}

.folder-container-findos iframe {
    width: 80%;

}


/*----------------------- Footer ----------------------- */

.footer {
    background-color: #9F4F48;
    min-height: 120px;
    text-align: center;
    border-top: solid;
    border-color: black;
    border-width: 1px;
}

.footer-socialmedia{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
    margin: 0px;
    list-style: none;
}

.footer-socialmedia li a i {
    color: #2C1106;
    background-color: #08E8B5;
    border-style: solid;
    border-radius: 30%;
    border-width: 0.5px;
    width: 25px;
    height: 25px;
    padding: 4px 0;
}

.footer-socialmedia li {
    display: inline-block;
}

.footer-sitemap {
    text-align: center;
    padding-top: 20px;
}

.footer-sitemap a {
    color: #08E8B5;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*----------------------- Media queries ----------------------- */

@media(max-width: 991px) {

.navbar li {
    margin-left: 14px;
    margin-right: 14px;
}

@media(max-width: 767px) {

.folder-container a img {
    min-width: 320px;
}

.mainframe {
    max-width: 80%;
}

.navbar a {
    padding: 3px 0;
}

.navbar {
    padding: 8px 8px;
    width: 75%;
}

}

@media(max-width: 479px) {

.folder-container a img {
    min-width: 220px; 
    width: 90%;
}

.mainframe {
    max-width: 95%;
}

body {
    min-width: 353px;
}

.mainframe {
    width: 100%;
}

.header-title {
    padding: 20px 60px 0px 60px;
}

.navbar a {
    padding: 3px 0;
}

.navbar {
    padding: 10px 10px;
    width: 85%;
}

}